@import "tailwindcss";

.home-section {
  background-image: url("../public/bg.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

body {
  background: #fefbf7;
}

.home-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.273);
}

.hover-element {
  position: relative;
}

.hover-elements {
  position: absolute;
  background: white;
  padding: 15px;
  border-radius: 10px;
  color: black;
  transform: translateY(20px);
  opacity: 0;
  width: max-content;
  transition: 0.3s ease-in-out;
}

.hover-element:hover .hover-elements {
   transform: translateY(0px);
   opacity: 1;
}

.text-user-select-none {
  user-select: none;
}

.some-blue-bg {
  background: #1a8ec1;
}

.some-blue-text {
  color: #1a8ec1;
}